@charset: "utf-8";

body {
    background-color: #f9f9f9;
}
.t-center {
    text-align: center;
}

.d-center {
    margin: 0 auto;
}

.v-center {
    vertical-align: middle;
}

.action-bar {
    margin-top: 15px;
}

#rules-list tr {
    cursor: pointer;
}

#rules-list tr.selected td{
    background-color: #08C;
}

#rules-list tr.selected td:hover{
    background-color: #08C;
}

#facts-list ul, .result_log{
    padding: 1em 2em;
    margin: 0;
}
#id3_data {
    padding: 1em;
}
.result_log h3 {
    display: inline;
}