@charset: "utf-8";

body {
    background-color: #f9f9f9;
}
.t-center {
    text-align: center;
}

.d-center {
    margin: 0 auto;
}

.v-center {
    vertical-align: middle;
}

#home, #rule-lib, #init-facts, #inference, #about {
    padding-top: 60px;
}

#rules-list td {
    vertical-align: middle;
}

#rules-list  div.rule-operation {
    visibility: hidden;
}

#rules-list tr:hover div.rule-operation {
    visibility: visible;
}